body
{
margin:0;
padding:0;
font-family:'Calibri',serif;
}
.nav{
background-color:#0C7DBF;
color:#ffffff;
list-style:none;
text-align:right;
padding:20px 0 30px 0;
}
.nav>li {
	display:inline-block;
	padding:5px 25px 0 25px;
	font-size: 22px;
}
.nav>li>a{
text-decoration:none;
color:#ffffff;
}
.nav>li>a:hover{
color:#c1c1c1;
}
.logo{
	color:#ffffff;
	float:left;
	padding:0px 25px 0px 25px;
	font-size:36px;
	font-weight:bold;
	font-style:italic;
	font-family:"Buxton Sketch";
}
.logo>a{
	text-decoration:none;
	color:#ffffff;

}
.heading{
	text-align:left;
	font-size:25px;
	color:#c1c1c1;
	margin:100px 0 50px 0;
	}
