body{
	font-family:sans-serif;
}
h1{
	text-align: center;
	color: forestgreen;
	margin: 30px 0 50px;
}
.gallery{
	margin:20px 50px;
	padding:50px 0 0 150px;
}
.gallery img{
	width:230px;
	padding:5px ;
	filter:grayscale(25%);
	transition:1s;
}
.gallery img:hover{
	filter:grayscale(0);
	transform: scale(1.1);
	
}

	.logo{
	color:#000000;
	float:left;
	padding:12px 40px 20px 25px;
	font-size:36px;
	font-weight:bold;
	font-style:italic;
	font-family:"Buxton Sketch";
	background-color:#ffffff
}
.logo>a{
	text-decoration:none;
	color:#000000;
}
.menu {
    border: none;
    border: 0px;
    margin: 0px;
    padding: 15px 0px 20px 0px;
    font-family: verdana,geneva,arial,helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    
	
}

.menu ul {
    background: #0C7DBF
    height:43px;
    list-style: none;
    margin: 0;
    padding: 0;
	
}

.menu li {
    float: left;
    padding: 0px 8px 0px 8px;
}

.menu li a {
    color: #000000;
    display: block;
    font-weight: bold;
    line-height: 43px;
    padding: 0px 15px;
    text-align: center;
    text-decoration: none;
	background-color#ffffff
}

.menu li a:hover {
    color: #000000;
    text-decoration: none;
}

.menu li ul {
    background: #e0e0e0;
    border-left: 2px solid #a80329;
    border-right: 2px solid #a80329;
    border-bottom: 2px solid #a80329;
    display: none;
    height: auto;
    filter: alpha(opacity=95);
    opacity: 0.95;
    position: absolute;
    width: 225px;
    z-index: 200;
/*top:1em;
/*left:0;*/
}

.menu li:hover ul {
    display: block;
}

.menu li li {
    display: block;
    float: none;
    padding: 0px;
    width: 225px;
}

.menu li ul a {
    display: block;
    font-size: 12px;
    font-style: normal;
    padding: 0px 10px 0px 15px;
    text-align: left;
}

.menu li ul a:hover {
    background: #949494;
    color: #000000;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.menu p {
    clear: left;
}

.menu #current {
    background: url(https://1.bp.blogspot.com/-Z9bi1D4dtH8/T7zWalpDEWI/AAAAAAAABzI/iXhXlizOKO8/s1600/helperblogger.com-current-bg.gif) top left repeat-x;
    color: #ffffff;
}

					