body
{
margin:0;
padding:0;
font-family:'Calibri',serif;
}

.logo{
	color:#000000;
	float:left;
	padding:12px 60px 20px 25px;
	font-size:36px;
	font-weight:bold;
	font-style:italic;
	font-family:"Buxton Sketch";
}
.logo>a{
	text-decoration:none;
	color:#000000;
}
.banner{
	width:100%;
	display:block;
}
.banner>.banner-image{
	width:100%;
	display:rec;
}
.service1{
	width:280px;
	border:1px solid #c1c1c1;
	margin:45px 10px;
	padding:0px 5px 0px ;
	float:left;
}
.service1> p {
	font-size:14px;
	color:#636363;
	max-width:250px;
}
.services{
	width:1333px;
	margin: auto;
	padding-left:60px;
}
h1{
	font-size:16px;
	font-weight:bold;
	background-color:#2C9805;
	color:#FEF8F5;
	padding:15px 0;
	margin:0 -6px;
}
.image{
	max-width:200px;
	margin:10px 0 0 0;
}
.heading{
	text-align:center;
	font-size:25px;
	color:#BF571B;
	margin:50px 0 50px 0;
}
.image:hover{
	opacity:0.2;
	max-width:200px
	margin-top: 15x
	
}
.menu {
    border: none;
    border: 0px;
    margin: 0px;
    padding: 12px;
    font-family: verdana,geneva,arial,helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.menu ul {
    background: #0C7DBF
    height: 43px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    float: left;
    padding: 0px 8px 0px 8px;
}

.menu li a {
    color: #fffff;
    display: block;
    font-weight: bold;
    line-height: 43px;
    padding: 0px 25px;
    text-align: center;
    text-decoration: none;
}

.menu li a:hover {
    color: #000000;
    text-decoration: none;
}

.menu li ul {
    background: #e0e0e0;
    border-left: 2px solid #a80329;
    border-right: 2px solid #a80329;
    border-bottom: 2px solid #a80329;
    display: none;
    height: auto;
    filter: alpha(opacity=95);
    opacity: 0.95;
    position: absolute;
    width: 225px;
    z-index: 200;
/*top:1em;
/*left:0;*/
}

.menu li:hover ul {
    display: block;
}

.menu li li {
    display: block;
    float: none;
    padding: 0px;
    width: 225px;
}

.menu li ul a {
    display: block;
    font-size: 12px;
    font-style: normal;
    padding: 0px 10px 0px 15px;
    text-align: left;
}

.menu li ul a:hover {
    background: #949494;
    color: #000000;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.menu p {
    clear: left;
}

.menu #current {
    background: url(https://1.bp.blogspot.com/-Z9bi1D4dtH8/T7zWalpDEWI/AAAAAAAABzI/iXhXlizOKO8/s1600/helperblogger.com-current-bg.gif) top left repeat-x;
    color: #ffffff;
}
