body
{
margin:0;
padding:0;
background:url(grass.jpg);
font-family:sans-serif;
background-size:cover;
background-repeat:y-axis;



}
.signUp{
border:none;
outline:none;
height:22px;
background:#808080;
color:#00000S;
font-size:18px;
width:100%;	


}

.signUp:hover
{
cursor:pointer;
background:#39dc79;
color:#000;
}

.signUp-box{
width:500px;
height:1020px;
background:rgba(0, 0, 0, 0.5);
color:#fff;
top:25%;
left:33%;
position:absolute;
transfrom:translate(-50%,-50%);
box-sizing:border-box;
padding:70px 30px;
}
.login{
width:100px;
height:100px;
border-radius:50%;
position:absolute;
top:-50px;
left: calc(50% - 50px);
 }
h1
{
margin: 0px;
padding: 0 0 20px;
text-align: center;
font-size: 20px;
}
.signUp-box p{
margin:0;
padding:0px;
font-weight:bold;
}
.signUp-box input{
width:100%;
margin-bottom:20px
}
.signUp-box input[type="text"],input[type="password"],input[type="number"]
{
border:none;
border-bottom:1px solid #fff;
background:transparent;
outline:none;
height: 40px;
color:#fff;
font-size:16px;
}




.signUp-box a
{
text-decoration:none;
font-size:14px;
color:#fff;
}
.signUp-box a:hover
{
color:#39dc79;
}
.rq {
color: #FF0000;
font-size: 10pt;
}
.logo{
	color:#000000;
	float:left;
	padding:12px 40px 20px 25px;
	font-size:36px;
	font-weight:bold;
	font-style:italic;
	font-family:"Buxton Sketch";
	background-color:#ffffff
}
.logo>a{
	text-decoration:none;
	color:#000000;
}
.menu {
    border: none;
    border: 0px;
    margin: 0px;
    padding: 15px 0px 20px 0px;
    font-family: verdana,geneva,arial,helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    
	
}

.menu ul {
    background: #0C7DBF
    height:43px;
    list-style: none;
    margin: 0;
    padding: 0;
	
}

.menu li {
    float: left;
    padding: 0px 8px 0px 8px;
}

.menu li a {
    color: #ffffff;
    display: block;
    font-weight: bold;
    line-height: 43px;
    padding: 0px 25px;
    text-align: center;
    text-decoration: none;
	background-color#ffffff
}

.menu li a:hover {
    color: #000000;
    text-decoration: none;
}

.menu li ul {
    background: #e0e0e0;
    border-left: 2px solid #a80329;
    border-right: 2px solid #a80329;
    border-bottom: 2px solid #a80329;
    display: none;
    height: auto;
    filter: alpha(opacity=95);
    opacity: 0.95;
    position: absolute;
    width: 225px;
    z-index: 200;
/*top:1em;
/*left:0;*/
}

.menu li:hover ul {
    display: block;
}

.menu li li {
    display: block;
    float: none;
    padding: 0px;
    width: 225px;
}

.menu li ul a {
    display: block;
    font-size: 12px;
    font-style: normal;
    padding: 0px 10px 0px 15px;
    text-align: left;
}

.menu li ul a:hover {
    background: #949494;
    color: #000000;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.menu p {
    clear: left;
}

.menu #current {
    background: url(https://1.bp.blogspot.com/-Z9bi1D4dtH8/T7zWalpDEWI/AAAAAAAABzI/iXhXlizOKO8/s1600/helperblogger.com-current-bg.gif) top left repeat-x;
    color: #ffffff;
}

					